<div class="login">
    <div class="text-center login-header">
        <img src="{{resource.login_header_logo}}" class="login-header__logo" />
        <h4 class="text-bold color--black">{{resource.login_title}}</h4>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error | async">
        {{error | async}}
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate *ngIf="!(loading | async)">
        <pre>{{loginForm.value | json}}</pre>

        <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="{{resource.placeholder_username}}" autocomplete="off"
                spellcheck="off" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="{{resource.placeholder_pw}}" autocomplete="off" spellcheck="off"
                required>
        </div>

        <div class="checkbox checkbox-primary">
            <input id="rememberMe" type="checkbox">
            <label for="rememberMe" class="color--gray">{{resource.label_remember_me}}</label>
        </div>

        <button type="submit" class="btn btn-primary text-uppercase btn-block login__sign-in" disable="!loginForm.form.valid">{{resource.label_sign_in}}</button>

        <hr class="login__break">

        <div class="login__forgot-link text-center">
            <a href="javascript: void(0)" class="color--gray">{{resource.label_forgot_pw}}</a>
        </div>

        <div class="login-footer text-center">
            <img src="{{resource.login_footer_logo}}" class="login-footer__logo" />
        </div>
    </form>
</div>