<mat-card>
    <mat-card-header class="text-center">
        <mat-card-title>{{resource.card_title}}</mat-card-title>
        <mat-card-subtitle>{{resource.card_content}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-mat-image src="{{resource.card_img}}" alt="{{resource.card_img_alt}}">
    <mat-card-footer>
        <mat-card-actions>
            <button mat-raised-button color="accent" routerLink="/">{{resource.card_action}}</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>